<a href="https://colab.research.google.com/github/ravi07bec/models/blob/master/Reccos_FG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Getting the Data
 !curl -L -o myfile.csv "https://drive.google.com/file/d/14ONwZLp3xsfktetefOENAQDbk-5ATGjb/view"
 #!wget --no-check-certificate https://drive.google.com/a/iima.ac.in/uc?id=14ONwZLp3xsfktetefOENAQDbk-5ATGjb&export=download' -O FILENAME.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  133k    0  133k    0     0   364k      0 --:--:-- --:--:-- --:--:--  363k

In [0]:
import pandas as pd
import numpy as np
import time
#import turicreate as tc
from sklearn.model_selection import train_test_split
from datetime import datetime

In [0]:
import os
from google.colab import drive
#drive.mount('/content/gdrive')
os.chdir('/content/gdrive/My Drive/Notebooks_Medium/Music/')
!ls "/content/gdrive/My Drive/Notebooks_Medium/Music/"

 BabyElephantWalk60.wav
 Datathon_sample_data.csv
'knock (1).wav'
'Mahabharat flute theme - simple yet so beautiful.wav'
 Music.ipynb
'One breath challenge - can you play this.mp3'
'One breath challenge - can you play this.wav'
 Reccos_FG.ipynb

In [0]:
df = pd.read_csv('/content/gdrive/My Drive/Notebooks_Medium/Music/Datathon_sample_data.csv')

In [0]:
import gzip
import gensim 
import logging
df=df.sample(frac=1)

In [0]:
sample=pd.DataFrame(df['customer_id'].unique()[1:5000])
sample.columns=['customer_id']
df2=pd.merge(sample,df)
print(df2.head(),df2.shape)

   customer_id  date_key  store_key  till_no  product_key  sale_trans_no  \
0    175003652  20180902       6289        2      1307211         271323
1    175003652  20180728       6289        1      1850694          50896
2    175003652  20180608       6289        1       496668          46013
3    175003652  20180815       6289        4     28509314          12785
4    175003652  20181012       8645        2     25383859          84406

   sale_tot_qty
0           2.0
1           0.5
2           2.0
3           1.0
4           1.0   (1045260, 7)

In [0]:
# In[67]:


train_data=df2
#train_data=train_data.sample(frac=1)

train_data['date'] = pd.to_datetime(train_data['date_key'], format='%Y%m%d')
display(train_data.head())
test_data = train_data[train_data['date']>'2018-09-30']
display(test_data.head())
train_data['product_key'] = train_data['product_key'].astype(str)
train_data = train_data.groupby('customer_id')['product_key'].apply(list).reset_index()


# In[68]:

documents = []


# In[69]:

documents = list(train_data['product_key'])


# In[106]:

# build vocabulary and train model
model = gensim.models.Word2Vec(
        documents,
        size=150,
        window=10,
        min_count=1)


# In[107]:

,customer_id,date_key,store_key,till_no,product_key,sale_trans_no,sale_tot_qty,date
0,175003652,20180902,6289,2,1307211,271323,2.0,2018-09-02
1,175003652,20180728,6289,1,1850694,50896,0.5,2018-07-28
2,175003652,20180608,6289,1,496668,46013,2.0,2018-06-08
3,175003652,20180815,6289,4,28509314,12785,1.0,2018-08-15
4,175003652,20181012,8645,2,25383859,84406,1.0,2018-10-12

,customer_id,date_key,store_key,till_no,product_key,sale_trans_no,sale_tot_qty,date
4,175003652,20181012,8645,2,25383859,84406,1.0,2018-10-12
9,175003652,20181009,6289,4,519829,22859,1.0,2018-10-09
14,175003652,20181009,6289,4,939362,22859,1.0,2018-10-09
31,175003652,20181013,6289,2,496004,280403,1.0,2018-10-13
39,175003652,20181009,8645,1,26221717,55715,1.0,2018-10-09

In [0]:
model.train(documents,total_examples=len(documents),epochs=10)


# In[73]:

(10012362, 10452600)

In [0]:
model.vocabulary


# In[108]:

#print(model.wv[train_data['product_key'][1]])


# In[109]:

word_vectors = model.wv


# In[110]:

np.mean(word_vectors.wv[train_data['product_key'][1]], axis=0)


# In[111]:

customer_persona = []


# In[112]:

for i in range(len(train_data['product_key'])):
    customer_persona.append(np.mean(model.wv[train_data['product_key'][i]], axis=0))


# In[117]:

w1 = customer_persona[1]


# In[118]:

w1


# In[121]:

top10 = model.wv.similar_by_vector(w1)


# In[128]:

top10[1][0]


# In[129]:

recommendations = []


# In[130]:

for vec in customer_persona:
    top10 = model.wv.similar_by_vector(vec)
    recco = []
    for i in range(len(top10)):
        recco.append(top10[i][0])
    recommendations.append(recco)


# In[132]:

recommendations


# In[134]:

final_preds = pd.DataFrame({'recommendations': recommendations, 'customer_id': train_data['customer_id']})


# In[135]:

final_preds.head()


# In[136]:

test_data.head()


# In[137]:

# Perform a groupby and apply a string join.
test_data['product_key'] = test_data['product_key'].astype(str)


# In[138]:

test_data = test_data.groupby('customer_id')['product_key'].apply(list).reset_index()


# In[139]:

test_data.head()


# In[140]:

final = final_preds.merge(test_data)


# In[141]:

final.head()


# In[142]:

final['recommendations'][1]


# In[145]:

list(set(final['recommendations'][3]).intersection(final['product_key'][3]))


# In[146]:

def common_prod(x):    
    return list(set(x['recommendations']).intersection(x['product_key']))  


# In[147]:

final['common_overall'] = final.apply(common_prod, axis=1)

print(final.head())

# In[151]:

def recall_recco(x):
    return (len(x['common_overall'])/len(x['product_key']))


# In[156]:

def recall_recco_10(x):
    return (len(x['common_overall'])/len(x['recommendations']))


# In[165]:

def recall_overall(x):
    return (min(len(x['product_key']),10))


# In[168]:

def recall_common_overall(x):
    return (len(x['common_overall']))


# In[152]:

final['recall'] = final.apply(recall_recco, axis=1)


# In[157]:

final['recall_10'] = final.apply(recall_recco_10, axis=1)


# In[158]:

final['recall'].mean()*100


# In[159]:

final['recall_10'].mean()*100


# In[166]:

final['recall_overall'] = final.apply(recall_overall, axis=1)


# In[169]:

final['recall_common_overall'] = final.apply(recall_common_overall, axis=1)


# In[170]:
print(final.head())



# In[171]:

print(100*final['recall_common_overall'].sum() / final['recall_overall'].sum())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   customer_id                                    recommendations  \
0    116201447  [1829943, 495595, 535076, 505395, 1161910, 153...
1    116282372  [1377640, 23583348, 1879646, 29218215, 2150513...
2    116768700  [27307545, 1563268, 1479998, 21292799, 1861941...
3    116850091  [513935, 2644330, 20174996, 2674021, 1822915, ...
4    116953622  [1380821, 22520230, 22338826, 507412, 24054339...

                                         product_key       common_overall
0  [2691862, 21920915, 27801300, 530341, 28477625...                   []
1  [525170, 22366435, 1214329, 496667, 1377640, 5...  [1377640, 23583348]
2  [22328464, 26911275, 25410497, 28802170, 26911...            [1479998]
3  [521924, 1758433, 1849704, 525420, 1848934, 21...                   []
4  [28403330, 1419769, 521516, 1900274, 23511838,...                   []
   customer_id                                    recommendations  \
0    116201447  [1829943, 495595, 535076, 505395, 1161910, 153...
1    116282372  [1377640, 23583348, 1879646, 29218215, 2150513...
2    116768700  [27307545, 1563268, 1479998, 21292799, 1861941...
3    116850091  [513935, 2644330, 20174996, 2674021, 1822915, ...
4    116953622  [1380821, 22520230, 22338826, 507412, 24054339...

                                         product_key       common_overall  \
0  [2691862, 21920915, 27801300, 530341, 28477625...                   []
1  [525170, 22366435, 1214329, 496667, 1377640, 5...  [1377640, 23583348]
2  [22328464, 26911275, 25410497, 28802170, 26911...            [1479998]
3  [521924, 1758433, 1849704, 525420, 1848934, 21...                   []
4  [28403330, 1419769, 521516, 1900274, 23511838,...                   []

     recall  recall_10  recall_overall  recall_common_overall
0  0.000000        0.0              10                      0
1  0.057143        0.2              10                      2
2  0.037037        0.1              10                      1
3  0.000000        0.0              10                      0
4  0.000000        0.0              10                      0
5.296211543351132

In [0]:
final

,customer_id,recommendations,product_key,common_overall,recall,recall_10,recall_overall,recall_common_overall
0,116201447,"[535076, 495595, 1842026, 1869868, 29730629, 2...","[['2691862', '21920915', '27801300', '530341',...",[],0.0,0.0,1,0
1,116282372,"[1377640, 23583348, 21505133, 28609616, 240278...","[['525170', '22366435', '1214329', '496667', '...",[],0.0,0.0,1,0
2,116432241,"[21909980, 1850064, 1850187, 21910057, 1849127...","[['1849088', '1850198', '21910126', '1850198',...",[],0.0,0.0,1,0
3,116768700,"[2703591, 21292799, 28136324, 1228769, 2729265...","[['22328464', '26911275', '25410497', '2880217...",[],0.0,0.0,1,0
4,116850091,"[513935, 507394, 1850709, 2630295, 1361348, 26...","[['521924', '1758433', '1849704', '525420', '1...",[],0.0,0.0,1,0
5,116940805,"[21641331, 1532669, 519911, 1842026, 1041635, ...","[['1389898', '1327141', '28901476', '511429', ...",[],0.0,0.0,1,0
6,116949170,"[1882382, 1882449, 1882456, 23959897, 1882383,...","[['24412871', '1877694', '1214385', '1374004',...",[],0.0,0.0,1,0
7,116953622,"[525170, 1426455, 22338826, 1793451, 22694021,...","[['28403330', '1419769', '521516', '1900274', ...",[],0.0,0.0,1,0
8,116957948,"[499909, 24645199, 24645181, 29590936, 496047,...","[['1663267', '496116', '1850709', '496004', '3...",[],0.0,0.0,1,0
9,116973681,"[1793451, 20927132, 1869868, 496451, 1850694, ...","[['1487786', '29485667', '522110', '29610027',...",[],0.0,0.0,1,0
10,116974771,"[495592, 533726, 24660445, 495972, 27109005, 1...","[['1462579', '29687336']]",[],0.0,0.0,1,0
11,116994587,"[27380487, 21505133, 23583348, 19020, 1110350,...","[['19020', '21505133', '1467836', '997622', '2...",[],0.0,0.0,1,0
12,116995115,"[530883, 530890, 1724731, 499798, 20927132, 11...","[['2632763', '495806', '496080', '495945', '10...",[],0.0,0.0,1,0
13,117010059,"[29844176, 29844298, 29844256, 29844284, 29835...","[['29576760', '29844254', '29844306', '2984432...",[],0.0,0.0,1,0
14,117013039,"[21909985, 1850185, 21910176, 29817142, 219099...","[['22328479', '22411386', '21910176', '2232847...",[],0.0,0.0,1,0
15,117014320,"[505824, 29485681, 23450094, 509501, 505823, 1...","[['1383669', '28509123', '20238400', '1459898'...",[],0.0,0.0,1,0
16,117018203,"[1842026, 24660445, 519881, 24190122, 523410, ...","[['1538766', '25216665', '1571971', '2712068',...",[],0.0,0.0,1,0
17,117023750,"[29817078, 20163937, 29817142, 22235178, 18777...","[['29817078', '29817078', '29817078', '2981707...",[],0.0,0.0,1,0
18,117024868,"[530886, 24645207, 503519, 512434, 29485681, 1...","[['512249', '24705718', '2647202', '501260', '...",[],0.0,0.0,1,0
19,117026819,"[20690173, 1487786, 29699665, 2664970, 1656236...","[['25383748', '1795288', '504306', '26443498',...",[],0.0,0.0,1,0
20,117033713,"[535076, 1869868, 1842026, 2626603, 530890, 49...","[['29610509', '524768', '1671742', '495945', '...",[],0.0,0.0,1,0
21,117044540,"[1850064, 21909980, 1849127, 21910176, 1850187...","[['1704814', '23583348', '1849108', '21909948'...",[],0.0,0.0,1,0
22,117049428,"[29844142, 29835641, 29844301, 29844298, 29844...","[['1792960', '29844281', '29844284', '29844248...",[],0.0,0.0,1,0
23,117049476,"[535076, 536450, 497280, 26221707, 495838, 535...","[['499415', '1537372', '496669', '27281033', '...",[],0.0,0.0,1,0
24,117050294,"[496455, 495600, 533726, 495592, 495595, 53507...","[['496336', '496599', '496042', '496426', '244...",[],0.0,0.0,1,0
25,117051477,"[1556619, 1541483, 1877580, 1879534, 2712504, ...","[['952616', '30645492', '504494', '527087', '5...",[],0.0,0.0,1,0
26,117058467,"[1896445, 1553353, 513057, 24781279, 29770384,...","[['1260739', '26580031', '540069', '21508050',...",[],0.0,0.0,1,0
27,117066096,"[26449977, 2704924, 27427572, 27325425, 519493...","[['2619627', '23431324', '22350012', '496442',...",[],0.0,0.0,1,0
28,117067408,"[21910162, 23453048, 1850105, 1850144, 2486297...","[['1214329', '21417552', '1849707', '1586295',...",[],0.0,0.0,1,0
29,117069794,"[519976, 28609616, 1110350, 534170, 1620126, 2...","[['1849695', '21910090', '2632757', '1830896',...",[],0.0,0.0,1,0
...,...,...,...,...,...,...,...,...
8304,204556100,"[27109005, 1880427, 27109095, 27109153, 499001...","[['1221862', '20237742', '1489098', '29687336'...",[],0.0,0.0,1,0
8305,204560036,"[21910104, 27123594, 1881899, 23583348, 534320...","[['1850198', '19019', '23583348', '23583348', ...",[],0.0,0.0,1,0
8306,204581540,"[519976, 28609616, 505824, 23450094, 1563292, ...","[['1104596', '1809582', '1110199', '1374000', ...",[],0.0,0.0,1,0
8307,204584132,"[23728589, 2653025, 24660345, 518980, 1879435,...","[['539016', '1850709', '21910174', '1813596', ...",[],0.0,0.0,1,0
8308,204585956,"[20163893, 499001, 1671851, 1880427, 514409, 2...","[['1462579', '29817125', '21369956', '21418875...",[],0.0,0.0,1,0
8309,204594020,"[1849127, 21909980, 1849752, 1850064, 1850198,...","[['1849696', '1850197', '1110199', '1850198', ...",[],0.0,0.0,1,0
8310,204596900,"[21910045, 1058242, 2667893, 24862989, 2355730...","[['1374004', '1170105', '2639028', '1849702', ...",[],0.0,0.0,1,0
8311,204602276,"[496619, 496455, 495592, 22701496, 495599, 495...","[['1793451', '1659695', '495839', '532764', '1...",[],0.0,0.0,1,0
8312,204642788,"[23453048, 1850144, 21910151, 21910162, 272814...","[['1849696', '1849268', '21909981', '2687021',...",[],0.0,0.0,1,0
8313,204647780,"[23898325, 534170, 519976, 28609616, 495989, 2...","[['496503', '2632963', '20587621', '29937662',...",[],0.0,0.0,1,0
8314,204651236,"[29775361, 28952787, 26221707, 20927132, 49861...","[['521604', '29687336', '513933', '1005033', '...",[],0.0,0.0,1,0
8315,204651908,"[2710696, 515224, 1657436, 1850052, 21910104, ...","[['22541383', '518283', '21909948', '21910174'...",[],0.0,0.0,1,0
8316,204659780,"[1849752, 21910010, 1849127, 1850187, 1850110,...","[['27307093', '498955', '498544', '496082', '2...",[],0.0,0.0,1,0
8317,204669284,"[21910068, 1850107, 1850108, 22411356, 1748054...","[['1850692', '1850193', '957363', '21909948', ...",[],0.0,0.0,1,0
8318,204672932,"[24660445, 519881, 1842026, 28425627, 1869868,...","[['496054', '527095', '1086331', '1424406', '2...",[],0.0,0.0,1,0
8319,204677924,"[27330006, 27330005, 27307338, 27330007, 11428...","[['29739686', '28383784', '27272666', '1086330...",[],0.0,0.0,1,0
8320,204691460,"[24750205, 29727521, 1110350, 22767357, 126679...","[['1589709', '1850185', '1848990', '1338604', ...",[],0.0,0.0,1,0
8321,204697412,"[530883, 519976, 28609616, 2672677, 1849366, 5...","[['1811878', '1556619', '20587621', '1850692',...",[],0.0,0.0,1,0
8322,204700196,"[534170, 21910010, 21910057, 21505133, 1110350...","[['22328463', '1894674', '1894674', '1589692',...",[],0.0,0.0,1,0
8323,204707396,"[1882382, 1882449, 1882383, 1882456, 23728589,...","[['22328464', '511086', '515586', '1111600', '...",[],0.0,0.0,1,0
8324,204716900,"[1850134, 27336192, 27281092, 27322673, 272812...","[['496080', '21910075', '1850198', '498770', '...",[],0.0,0.0,1,0
8325,204717668,"[1537372, 27680533, 1528705, 518968, 27427725,...","[['2634194', '2614218', '513932', '498767', '4...",[],0.0,0.0,1,0
8326,204720260,"[1850105, 23453048, 27281166, 539947, 1850144,...","[['1849707', '21604088', '21910176', '1849202'...",[],0.0,0.0,1,0
8327,204721412,"[499014, 27211948, 22959899, 27281542, 533782,...","[['2663929', '2686268', '22701496', '20163937'...",[],0.0,0.0,1,0
8328,204736388,"[28609594, 515528, 515154, 519815, 29338934, 2...","[['1426455', '522578', '511423', '519815', '51...",[],0.0,0.0,1,0
8329,204737444,"[21909957, 21909954, 1849008, 21910005, 219100...","[['23452992', '498934', '1407797', '1786116', ...",[],0.0,0.0,1,0
8330,204737540,"[503519, 29338934, 519872, 530883, 20445800, 1...","[['519829', '527087', '519897', '21505133', '1...",[],0.0,0.0,1,0
8331,204738596,"[530883, 28609616, 29188984, 20878147, 534974,...","[['1837788', '1849123', '525170', '1848990', '...",[],0.0,0.0,1,0
8332,205954532,"[495595, 496455, 496619, 495600, 495592, 29775...","[['1778553', '495972', '496031', '500990', '49...",[],0.0,0.0,1,0
8333,206343716,"[29730629, 2687065, 23880978, 24660445, 230020...","[['20163901', '1504395', '1816745', '495981', ...",[],0.0,0.0,1,0